## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

## Angular
src/finpulse-ui/node_modules/
src/finpulse-ui/dist/
src/finpulse-ui/.angular/

## VS Code
.vscode/.browse.c_cpp.db*

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.Production.json
*.pfx
*.key
