## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.db-shm
*.db-wal

## Angular
src/pulse-ui/node_modules/
src/pulse-ui/dist/
src/pulse-ui/.angular/
src/finpulse-ui/node_modules/
src/finpulse-ui/dist/
src/finpulse-ui/.angular/

## VS Code
.vscode/.browse.c_cpp.db*

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.Production.json
*.pfx
*.key
cookies.txt
usercookies.txt

## Build/deploy artifacts
deploy.zip
publish/

## wwwroot is populated by Angular build at deploy time
src/Pulse.Api/wwwroot/*
!src/Pulse.Api/wwwroot/.gitkeep
src/FinPulse.Api/wwwroot/*
!src/FinPulse.Api/wwwroot/.gitkeep
